.del-btn {
  color: rgb(250, 135, 135);
  cursor: pointer;
}
.del-btn:hover {
  color: rgb(255, 0, 0);
}

.details {
  scroll-behavior: smooth;
  text-overflow: ellipsis;
}

/* .text-width {
  width: 300px;
} */

@media screen and (max-width: 428px) {
  tr {
    font-size: 0.5rem;
  }
  .details {
    width: 80px;
    height: 20px;
  }
}
@media screen and (max-width: 768px) {
  tr {
    font-size: 0.7rem;
  }
}
